body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 30px;
}

body > * {
    padding-bottom: 5px;
}

#add-pizza, .add-pizza-form, .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 5px;
}