body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 30px;
}

body > * {
    padding-bottom: 5px;
}

#add-pizza, .add-pizza-form, .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 5px;
}

.add-pizza-form{
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 10px;
}
.add-pizza-form input[type=submit]{
    border-radius: 5px;
    color: aliceblue;
    background: blue;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.7s ease;
}
.add-pizza-form input[type=submit]:hover{
    color: blue;
    background: aliceblue;
    border: 1px solid blue;
}
