main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .alert-bt-base.is-cream{
    text-decoration: line-through;
  }
  ion-item.tomato-base {
    --background : tomato;
  }
  ion-item.cream-base {
    --background : lightgoldenrodyellow;
  }

  ion-item.pizza-item{
    display : flex;
    justify-content: center;
    align-items: center;
  }

  ion-item.pizza-item img {
    max-width: 40%;
    border-radius: 10px;
    margin: 20px;
  }